body {
  font-family: "Montserrat", sans-serif;
  background: #d2d8e0;
}
.header {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: right;
  margin: 0 auto;
  background: #bdd689;
  box-shadow: 6px 6px 20px 0px #0000001a;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: #000000;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  height: 2px;
  background-color: #000000;
  opacity: 0;
  transition: 0.5s;
}

.nav-link:hover::after {
  opacity: 1;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background: #e5e5e5;
  box-shadow: 6px 6px 20px 0px #0000001a;
}
aside {
  width: 370px;
  background: #1e2939;
}
.CV-photo {
  margin-top: 25px;
}
.header-secondary {
  color: #ffffff;
}
.contacts-links {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.bold {
  font-weight: 700;
}
.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0px;
  padding-left: 0px;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
}
.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}
.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}
.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}
.languages-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}
main {
  padding: 102px 88px 102px 88px;
}
.main-discription {
  width: 400px;
}
.job-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}
.discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}
.projects {
  width: 485px;
  margin-bottom: 51px;
}
.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}
.list-primary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}
.pre {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 0;
  list-style-position: inside;
}
.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.highlight {
  color: #fb6d3a;
}
.job-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.job-list {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 0;
  list-style-position: inside;
}
.header-education {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
  margin-top: 43px;
}
.university-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.education-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.education-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  margin-top: 11px;
}
.footer {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  background: #bdd689;
  box-shadow: 6px 6px 20px 0px #0000001a;
}
.footer-wrapper {
  justify-content: right;
}
.developer-link {
  justify-content: left;
}
